
.swiftpm/xcode/package.xcworkspace/xcuserdata/fcimen.xcuserdatad/IDEFindNavigatorScopes.plist

.swiftpm/xcode/package.xcworkspace/xcuserdata/fcimen.xcuserdatad/UserInterfaceState.xcuserstate

.swiftpm/xcode/xcshareddata/xcschemes/FCExtensionKit.xcscheme

.swiftpm/xcode/xcuserdata/fcimen.xcuserdatad/xcschemes/xcschememanagement.plist

FCExtensionKit.xcodeproj/project.xcworkspace/xcuserdata/fcimen.xcuserdatad/UserInterfaceState.xcuserstate
